:root {
    --main-blue: rgb(0, 183, 255);
    --background-grey: rgb(230, 230, 230);
    --text-grey: grey;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
}

.sidebar {
    grid-row: 1 / 3;
    background-color: var(--main-blue);
}

.header {
    grid-column: 2 / 4;
}

.dashboard,
.misc {
    background-color: var(--background-grey);
}

.container div {
    border: 1px solid black;
}