:root {
    --main-blue: rgb(0, 183, 255);
    --background-grey: rgb(230, 230, 230);
    --text-grey: grey;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
}

.sidebar {
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 1fr 4fr 6fr;
    background-color: var(--main-blue);
}

.brand {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 3fr;
    gap: 16px;
}

.brand:nth-child(1) {
    padding-left: 16px;
}

.brand-text {
    color: white;
    font-size: 32px;
}

.header {
    grid-column: 2 / 4;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.search {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

.search-area {
    display: grid;
    grid-template-columns: 1fr 8fr;
    align-items: center;
}

.search-icon {
    margin-left: 48px;
}

.search-bar {
    height: 32px;
    border: none;
    border-radius: 16px;
    background-color: var(--background-grey);
}

.notifacation-area {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;

}

.noti-bell {
    justify-self: end;
}

.small-profile-picture {
    height: 64px;
    border-radius: 50%;
}

.noti-profile-picture {
    justify-self: center;
}

.noti-text {
    font-size: 24px;
}

.profile-header {
    display: grid;
    grid-template-columns: 7fr 4fr;
    margin-bottom: 16px;
}

.profile-header-title {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr;
}

.large-profile-picture {
    height: 96px;
    border-radius: 50%;
    grid-row: 1 / 3;
    margin-left: 48px;
}

.small-header-text {
    margin-top: 24px;
    margin-bottom: 8px;
    padding-left: 16px;
}

.large-header-text {
    font-size: 36px;
    margin: 0;
    padding-left: 16px;
}

.profile-header-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 32px;
    margin-right: 32px;
}

.header-button {
    background-color: var(--main-blue);
    color: white;
    font-size: 24px;
    height: 48px;
    border-radius: 48px;
    border: none;
}

.dashboard,
.misc {
    background-color: var(--background-grey);
}

.container div {
    border: 1px solid black;
}

.nav-option {
    display: grid;
    align-items: center;
    padding-left: 32px;
    margin-top: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    grid-template-columns: 1fr 4fr;
}

.nav-text {
    color: white;
    font-size: 18px;
    margin: 0;
}