:root {
    --main-blue: rgb(0, 183, 255);
    --background-grey: rgb(230, 230, 230);
    --text-grey: grey;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
}

.sidebar {
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 1fr 4fr 6fr;
    background-color: var(--main-blue);
}

.brand {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 3fr;
    gap: 16px;
}

.brand:nth-child(1) {
    padding-left: 16px;
}

.brand-text {
    color: white;
    font-size: 32px;
}

.header {
    grid-column: 2 / 4;
}

.dashboard,
.misc {
    background-color: var(--background-grey);
}

.container div {
    border: 1px solid black;
}

.nav-option {
    display: grid;
    align-items: center;
    padding-left: 32px;
    margin-top: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    grid-template-columns: 1fr 4fr;
}

.nav-text {
    color: white;
    font-size: 18px;
    margin: 0;
}